:root {
    --main-bg: black;
    --main-color: white;
    --dark-grey: rgb(101, 101, 101);
    --darker-grey: rgb(51, 51, 51);
    --light-purple: #bd66dd;
    --purple: #7227b8;
    --dark-pruple: #250358;
    --highlight-color: #E50914;
    --call-to-action: aqua;
    --positive-correspondance: green;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--main-bg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    background-image:
    radial-gradient(
      circle farthest-side,
      var(--purple),
      var(--dark-pruple)
    );
}

.overlayFadeOut {
    animation: fadeOutOverlay 2s ease-in-out forwards;
}

@keyframes fadeOutOverlay {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.story {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 48px;
    color: white;
    text-align: center;
}

.story span {
    opacity: 0;
}

.wordAppear {
    animation: fadeInWord 0.5s ease-in-out forwards;
}

.sentenceDisappear {
    animation: fadeOutSentence 1.5s ease-in-out forwards;
}

@keyframes fadeInWord {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOutSentence {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#skipButton {
    position: fixed;
    font-family: 'IM Fell DW Pica', serif;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--main-color);
}

#skipButton.show, #skipButton:hover {
    opacity: 1;
}