:root{
    --main-bg: rgb(22, 20, 20);
}

body {
    margin: 0;
    background-color: var(--main-bg);
    background-image: url("../png/garage/0.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  #front-image:hover {
      mask: url("#cursorMask");
  }

  #front-image {
      filter: brightness(0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
  }

  .monster {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7em;
      height: auto;
      z-index: 0;
  }