:root {
    --main-bg: black;
    --dark-grey: rgb(101, 101, 101);
    --light-purple: #bd66dd;
    --shadow: #989696;
    --light-blue: #cbeefa;
    --dark-navy: #25154d;
    --navy: #3a0ca3;
    --dark-purple:#7209b7;
}

body {
    background-color:var(--main-bg);
    font-family: Arial, sans-serif;
}

.pageCenter{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--light-blue);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--main-bg);
    text-align: center;
    opacity: 0;
    z-index: 2;
}

h1 {
    text-align: center;
    color: var(--dark-navy);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px var(--shadow);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.menu a {
    display: block;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    background-color: var(--navy);
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--main-bg);
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.menu a:hover {
    background-color: var(--dark-purple);
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#logo {
    height: 75vh;
}

.spinner {
    opacity: 0;
    border: 8px solid;
    border-color: var(--dark-grey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    animation: colorChange 7s linear 1;
}

@keyframes colorChange {
    0%, 100% {
        border-top: 8px solid var(--light-purple);
        border-right: 8px solid var(--light-purple);
        border-bottom: 8px solid var(--light-purple);
        border-left: 8px solid var(--light-purple);
    }
    20% {
        border-top: 8px solid var(--dark-grey);
        border-right: 8px solid var(--dark-grey);
        border-bottom: 8px solid var(--dark-grey);
        border-left: 8px solid var(--dark-grey);
    }
    40% {
        border-top: 8px solid var(--light-purple);
        border-right: 8px solid var(--dark-grey);
        border-bottom: 8px solid var(--dark-grey);
        border-left: 8px solid var(--dark-grey);
    }
    60% {
        border-top: 8px solid var(--light-purple);
        border-right: 8px solid var(--light-purple);
        border-bottom: 8px solid var(--dark-grey);
        border-left: 8px solid var(--dark-grey);
    }
    80% {
        border-top: 8px solid var(--light-purple);
        border-right: 8px solid var(--light-purple);
        border-bottom: 8px solid var(--light-purple);
        border-left: 8px solid var(--dark-grey);
    }
}