.keyboard {
  display: grid;
  width: 70vw;
  max-width: fit-content;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  background: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

.row {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  justify-content: center;
  height: auto;
}

.key {
  grid-column: span 2;
  height: 3em;
  margin: 0.1em;
  cursor: pointer;
  background-color: #FFFFF4;
  color: #000000;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

.key__delete, .key__shift-left,.key__shift-right {
  grid-column: span 4;
}

.key__oneandhalf, .key__caps{
  grid-column: span 3;
}

.key__enter {
  grid-column: span 5;
}

.key__spacebar {
  grid-column: span 12;
}

.key__logo {
  background-color: transparent;
}

.key__logo > img {
  flex-shrink: 0;
  width: 3em;
  height: auto;
}