
body {
    text-align: center;
    margin: 0;
    color: #FFFFF4;
    border: 15px solid black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--before-background-image, url(../png/garage/0.png));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 40vh);
    position: relative;
    z-index: 1; /* Ensure the main content appears above the blurred background */
}

#main > article {
    flex: 1;
}
#main > nav,
#main > aside {
    flex: 0 0 20vw;
}
#main > nav {
    order: -1;
}
header, footer, article, nav, aside {
    padding: 1em;
}
header, footer {
    background: #7209B7;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
}

header {
    border-bottom: solid black;
}

footer {
    border-top: 3vh solid black;
}

h2 {
    min-height: 50px;
}
#main img {
    max-width: 15vw;
    height: auto;
}

#targetWord, #wordWritten {
    font-size: 24px;
    padding: 10px;
    width: 75vw;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Additional centering for text */
}

#wordWritten {
    border: 1px solid #000;
    background-color: #f0f0f0; /* Light gray background */
    color: rgb(0, 0, 0);


}

#endLabel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CC9F0;
    border: 5px solid #3A0CA3;

    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    z-index: 9999; /* Ensure the label is on top of everything */
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9998; /* Z-index just below the label */
}

/*patternGame*/
.color-button {
    width: 15vw;
    height: 15vw;
}

.color-button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 0px 2px white;
    filter: brightness(1.5);
}

#blue {
    background-color: #4CC9F0;
    border-radius: 100%;
}

#pink {
    background-color: #F72585;
    border-radius: 100%;
}

#yellow {
    background-color: #FFBE0B;
    border-radius: 100%;
}
#purple {
    background-color: #8338EC;
    border-radius: 100%;
}

#start {
    background-color: rgb(219, 219, 219);
    border-radius: 100%;
    box-shadow: 0 0 50px #aeacac;
    height: 20vw;
    width: 20vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 50px;
    font-weight: 400;
}

#instructions {
    position: relative;
    background-color: #3A0CA3;
    padding: 5px;
    font-size: 22px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 80vh;
}

.grid-item {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container > :nth-child(3) {
    grid-row: span 2;
}